<ion-view view-title="Annonces">
    <div id="wrapper" ng-controller="EditCtrl">
        <ion-content>
            <ion-list>
                <ion-item>

                    <!-- apply the module and controller to our body so angular is applied to that -->
                    <div class="container">
                        <div class="col-md-6 col-md-offset-3">

                            <!-- PAGE TITLE -->
                            <div class="page-header">
                                <h1><span class="glyphicon glyphicon-tower"></span> Modifier une annonce :</h1>
                            </div>

                            <!-- SHOW ERROR/SUCCESS MESSAGES -->
                            <div id="messages"></div>
                            <!-- FORM -->
                            <form ng-submit="changeForm()" >
                                <div class="list">
                                    <!-- NAME -->
                                    <div id="title-group" class="form-group" ng-class="{ 'has-error' : errorTitle }">
                                        <label class="item item-input item-floating-label">{{ads.title}}
                                            <span class="input-label" ng-show="errorTitle">{{ errorTitle }}</span>
                                            <input type="text" name="title" class="form-control">
                                        </label>
                                    </div>

                                    <div id="pics-group" class="form-group" ng-class="{ 'has-error' : errorPics }">
                                        <label class="item item-input item-floating-label">{{ad.pics}}
                                            <span class="input-label" ng-show="errorPics">{{ errorPics }}</span>
                                            <input type="text" name="pics" class="form-control">
                                        </label>
                                    </div>

                                    <div id="name_ad-group" class="form-group" ng-class="{ 'has-error' : errorName_ad }">
                                        <label class="item item-input item-floating-label">{{ad.name_ad}}
                                            <span class="input-label" ng-show="errorName_ad">{{ errorName_ad }}</span>
                                            <input type="text" name="name_ad" class="form-control">
                                        </label>
                                    </div>

                                    <div id="phone-group" class="form-group" ng-class="{ 'has-error' : errorPhone }">
                                        <label class="item item-input item-floating-label">{{ad.phone}}
                                            <span class="input-label" ng-show="errorPhone">{{ errorPhone }}</span>
                                            <input type="text" name="phone" class="form-control" >
                                        </label>
                                    </div>

                                    <div id="email-group" class="form-group" ng-class="{ 'has-error' : errorEmail }">
                                        <label class="item item-input item-floating-label">{{ad.email}}
                                            <span class="input-label" ng-show="errorEmail">{{ errorEmail }}</span>
                                            <input type="text" name="email" class="form-control">

                                        </label>
                                    </div>

                                    <div id="content-group" class="form-group" ng-class="{ 'has-error' : errorContent }">
                                        <label class="item item-input item-floating-label">{{ad.content}}
                                            <span class="input-label" ng-show="errorContent">{{ errorContent }}</span>
                                            <input type="text" name="content" class="form-control">
                                        </label>
                                    </div>

                                    <button type="submit" class="btn btn-success btn-lg btn-block">
                                        <span class="glyphicon glyphicon-flash"></span> Submit!
                                    </button>
                                </div>
                            </form>
                </ion-item>
            </ion-list>
        </ion-content>
    </div>
</ion-view>
