<ion-view view-title="Annonces">
    <div id="wrapper" ng-controller="HomeCtrl">
  <ion-content class="all">
    <ion-list>
      <ion-item ng-repeat="ad in ads" href="#/app/playlist/{{ad.id}}">

          <div class="list">

              <div class="item item-thumbnail-left" href="#/{{ad.id}}">
                  <img ng-src="{{ad.pics}}">
                  <h2>{{ad.title}}</h2>
                  <p>{{ad.content}}</p>
              </div>


          </div>
      </ion-item>
    </ion-list>
      <div class="tabs tabs-icon-only">
          <a class="tab-item" href="#/app/search">
              <i class="ion-plus-circled"></i>
          </a>
      </div>
  </ion-content>
        </div>
</ion-view>
